node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# forge
/cache_forge
/out
lib/forge-std

deployments/localhost
deployments/**/solcInputs