@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rounded-btn: 3px;

    --purple-primary: 59.81% 0.254 298.01;
    --purple-secondary: 72.91% 0.16070787426161062 297.0607660474308;
    --blue-primary: 78.99% 0.143 224.17;
    --blue-secondary: 37.3% 0.234 269.89;
    --black-light: 98.81% 0 0;
}

/* BUTTONS */
.btn.btn-primary {
    --fallback-pc: white;
    --btn-color: var(--purple-primary);

    &:hover {
        background-color: oklch(var(--purple-secondary));
        border-color: oklch(var(--purple-secondary));
    }

    &.btn-disabled, &[disabled], &:disabled {
        --n: var(--black-light);
        --tw-bg-opacity: 1;
    }
}
.btn.btn-secondary {
    --sc: var(--purple-primary);
    --btn-color: white;
    border-color: oklch(var(--purple-primary));

    &:hover {
        background: #FBF8FF;
    }

    &.btn-disabled, &[disabled], &:disabled {
        --n: var(--black-light);
        --tw-bg-opacity: 1;
        border-color: transparent;
    }
}
.btn.btn-tertiary {
    --bc: 100% 0 0;
    --btn-color: var(--blue-secondary);

    &:hover {
        --btn-color: var(--blue-primary);
    }

    &.btn-disabled, &[disabled], &:disabled {
        --n: var(--black-light);
        --bc: 0.278078 0.029596 256.847952;
        --tw-bg-opacity: 1;
    }
}