@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 3px;

  --white: 100% 0 0;
  --black: 0% 0 0;
  --purple-primary: 59.81% 0.254 298.01;
  --purple-secondary: 72.91% 0.16070787426161062 297.0607660474308;
  --purple-medium: 98.34% 0.009742998103222622 305.4082217121586;
  --blue-primary: 78.99% 0.143 224.17;
  --blue-secondary: 37.3% 0.234 269.89;
  --black-medium: 92.19% 0 0;
  --black-light: 98.81% 0 0;
  --warning-primary: 77.2% 0.17381536485188528 64.55196581322063;
  --success-primary: 71.22% 0.23 144.12;
  --error-primary: 61.65% 0.245 22.93;

  --toastify-toast-width: 422px;
  --toastify-color-light: oklch(var(--purple-primary));
  --toastify-text-color-light: oklch(var(--white));
  --toastify-icon-color-info: oklch(var(--white));
  --toastify-icon-color-success: oklch(var(--white));
  --toastify-icon-color-warning: oklch(var(--white));
  --toastify-icon-color-error: oklch(var(--white));
}

.container-fluid {
  max-width: 100%;
  padding-left: 18px;
  padding-right: 18px;

  @media (min-width: 1024px) {
    & {
      max-width: 75%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/* BUTTONS */
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
  --n: var(--black-light);
  --tw-bg-opacity: 1;
  border-color: transparent;
}
.btn.btn-primary {
  --pc: var(--white);
  --btn-color: var(--purple-primary);

  &:hover {
    background-color: oklch(var(--purple-secondary));
    border-color: oklch(var(--purple-secondary));
  }
}
.btn.btn-secondary {
  --sc: var(--purple-primary);
  --btn-color: var(--white);
  border-color: oklch(var(--purple-primary));

  &:hover {
    background-color: #fbf8ff;
  }
}
.btn.btn-accent {
  --ac: var(--white);
  --btn-color: var(--blue-secondary);

  &:hover {
    --btn-color: var(--blue-primary);
  }
}

/* RADIO */
.radio:checked,
.radio[aria-checked="true"] {
  --bc: var(--purple-primary);
}

/* TABS */
.tab {
  --tab-border: 0px;
  --tab-color: var(--black);
  font-weight: 600;

  &.tab-active:not(.tab-disabled):not([disabled]),
  &:is(input:checked) {
    --bc: var(--purple-primary);
    color: oklch(var(--purple-primary));
    border-bottom-width: 3px;
  }
}

/* TOASTIFY */
.Toastify__toast-body {
  padding-top: 13px;
  padding-bottom: 13px;
}
.Toastify__toast-icon {
  width: 32px;
  margin-left: 10px;
  margin-right: 16px;
}
.Toastify__close-button--light {
  color: #fff;
}

/* ALERT */
.alert {
  --rounded-box: 3px;
  --alert-bg: transparent;

  font-size: 14px;

  &.alert-info {
    --fallback-in: oklch(var(--purple-primary));
    & > svg,
    .alert-title {
      color: var(--fallback-in);
    }
  }

  &.alert-success {
    --fallback-su: oklch(var(--success-primary));
    & > svg,
    .alert-title {
      color: var(--fallback-su);
    }
  }

  &.alert-warning {
    --fallback-wa: oklch(var(--warning-primary));
    & > svg,
    .alert-title {
      color: var(--fallback-wa);
    }
  }

  &.alert-error {
    --fallback-er: oklch(var(--error-primary));
    & > svg,
    .alert-title {
      color: var(--fallback-er);
    }
  }
}

/* STEPS */
.steps {
  font-size: 12px;

  .step:after {
    --b3: var(--white);
    --bc: var(--black-medium);
    width: 24px;
    height: 24px;
  }
  .step:not(.step-primary) {
    &:after {
      border: 1px solid oklch(var(--black-medium));
    }
  }
  .step-primary[data-content] {
    &:after {
      --p: var(--white);
      --pc: var(--purple-primary);
      border: 1px solid oklch(var(--purple-primary));
    }
  }

  .step-primary:after {
    --p: var(--purple-primary);
    --pc: var(--white);
  }

  &.steps-horizontal .step:before {
    --b3: var(--black-medium);
    --p: var(--black-medium);
    width: 50%;
    height: 1px;
  }
}

/* MODAL */
.modal {
  &:not(dialog:not(.modal-open)),
  &::backdrop {
    background-color: #0006;
    animation: modal-pop 0.2s ease-out;
  }
  .modal-box {
    --rounded-box: 0;
    max-width: 620px;
  }
}

/* DROPDOWN */
.dropdown {
  &.simple-dropdown {
    div[role="button"] {
      cursor: pointer;
      display: flex;
      align-items: center;

      &::marker {
        content: none;
      }

      &.dropdown-arrow::after {
        content: "";
        margin-left: 7px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        border-color: #9747ff transparent transparent transparent;
        transform: rotate(0deg);
      }
    }
    .menu {
      .active,
      .active span {
        @apply bg-purple-light;
      }
    }
  }
}

.dropdown-content {
  @apply shadow bg-white rounded-[3px] text-black text-[16px];
}

/* CHECKBOX */
.checkbox {
  width: 16px;
  height: 16px;
  border-color: #9747ff;
  &:checked {
    --bc: var(--purple-primary);
  }
}

/* SIMPLE TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9747ff;
  color: #fff;
  text-align: center;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  white-space: nowrap;

  @media (max-width: 1024px) { /* For screens smaller than 1024px (md breakpoint) */
    white-space: normal;
   }
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #9747ff transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* SIMPLE TABLE */
.simple-table {
  border-collapse: collapse;
  width: 100%;
}

.simple-table td,
.simple-table th {
  border-bottom: 1px solid #e5e5e5;
  padding: 16px 24px;
}

.simple-table th {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  color: #9747ff;
}

/* CUSTOM DATE PICKER */
.custom-date-picker {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e5e5e5;
    top: 56px;
    left: 0;
    z-index: 1;
  }
  & .react-datepicker__header {
    background-color: white;
    padding: 20px 24px 2px 24px;
    border: none;
    &--time {
      padding: 20px 24px 20px 24px;
    }
  }
  & .react-datepicker__navigation {
    top: 15px;
    &-icon::before {
      border-color: #9747ff;
    }
  }
  & .react-datepicker__day-names {
    margin-top: 36px;
    font-weight: 600;
    font-size: 14px;
  }
  & .react-datepicker__day {
    color: #999999;
    font-weight: 600;

    &--today {
      background-color: transparent;
      color: #9747ff;
      &:hover {
        border-radius: 0.3rem;
        background-color: #f0f0f0;
      }
    }
    &--selected {
      background-color: #9747ff;
      color: white;
      border-radius: 50%;
    }
  }
  & .react-datepicker__time-list-item--selected {
    background-color: #9747ff !important;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
}

/* SHIMMER */
.shimmer-container {
  position: relative;
  overflow: hidden;
  background: #c8c8c8; /* Medium gray background */
}

.shimmer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    /* Light gray shimmer with some opacity */ transparent
  );
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

/* CUSTOM SCROLLBAR */
/* width */
.custom-scrollbar::-webkit-scrollbar {
  height: 2px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
